.loading-indicator {
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 20px;
    height: 18px;
    text-align: left;
}

#loading .loading-indicator {
    position: absolute;
    background: #F1F2F4;
    height: auto;
    color: #555;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    text-align: center;
}

#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: #F1F2F4;
}

#loading {
    position: absolute;
    left: 40%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
}

#loading img {
    margin-bottom: 5px;
}

.loading-indicator-circles {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    -webkit-animation: pui-loading 2.5s ease-in-out infinite;
    animation: pui-loading 2.5s ease-in-out infinite;
}

.loading-indicator-circles:first-child {
    background-color: #0b69b8;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.loading-indicator-circles:nth-child(2) {
    background-color: #f9771b;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loading-indicator .loading-text {
    position: absolute;
    font-size: 16px;
    top: 300%;
    left: 175%;
}

.home {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/home.gif) !important;
}

.homeFlat {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/home.png) !important;
}

.help {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/help.png) !important;
}

.helpFlat {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/help.png) !important;
}

.edit {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/pencil.png) !important;
}

.editFlat {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/edit.png) !important;
}

.design-icon {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/design.gif) !important;
}

.designFlat {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/design.png) !important;
}

.widgets {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/wrench.png) !important;
}

.widgetFlat {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/configuration.png) !important;
}

.properties {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/prop.gif) !important;
}

.propsFlat {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/screen-properties.png) !important;
}

.recordformats {
    background-image: url(/profoundui/proddata/images/dspfdesigner/icons16x16/record_formats.png) !important;
}

.font-item {
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    border-bottom: 1px solid #eeeeee;
}

.x-toolbar.x-toolbar.x-toolbar.x-toolbar .x-btn.x-btn-pressed, 
.x-toolbar.x-toolbar.x-toolbar.x-toolbar .x-btn.x-btn-menu-active {
	background-color:#1979CA;
	color:white;
}

.x-btn-mc em.x-btn-arrow-bottom, .x-btn-as-arrow .x-btn-mc em {
	padding-bottom: 16px;
}

.x-small-editor .x-form-field-wrap .x-form-trigger {
    height: 22px !important;
}
.ext-strict .ext-webkit .x-small-editor .x-form-text {
    height: 21px !important;
}

/************ Widget Tree ******************/

.x-tree {
    background: #fff !important;
}

.x-tree-node div.category-node {
    background: #eee url(/profoundui/proddata/images/dspfdesigner/icons16x16/cmp-bg.gif) repeat-x;
    font-weight: bold;
    margin-top: 1px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.x-tree-node div.flat-node {
    color: #31373d;
    font-weight: bold;
    font-size: 11px;
    font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #aeb6be;
    background-color: #cbd0d5;
    padding-top: 3px;
    padding-bottom: 3px;
}

.x-tree-selected div.widget-node {
    border: 1px dotted #a3bae9;
    background: #DFE8F6;
}

.x-node-ctx {
    background: #eee !important;
    border: 1px solid #ccc !important;
}

.widget-node {
    border: 1px solid #fff;
    margin: 2px;
}

.category-node .x-tree-node-icon {
    display: none;
}

.flat-node .x-tree-node-icon {
    display: none;
}

.x-tree-node-collapsed .x-tree-node-icon,
.x-tree-node-expanded .x-tree-node-icon,
.x-tree-node-leaf .x-tree-node-icon {
	background-position: center;
    height: 16px;
    margin-top: 2px;
}

.folder.x-menu-item-icon,
.x-tree-node-collapsed .x-tree-node-icon:not(.x-tree-node-inline-icon){
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/folder.svg);
}
.x-tree-node-collapsed .x-tree-node-icon:not(.x-tree-node-inline-icon) {
     height: 20px;
     width: 17px;
     margin-top: 0px;
     margin-right: -2px;
}

.folder-open.x-menu-item-icon,
.x-tree-node-expanded .x-tree-node-icon:not(.x-tree-node-inline-icon) {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/folder-open.svg);
}
.x-tree-node-expanded .x-tree-node-icon:not(.x-tree-node-inline-icon) {
    height: 20px;
    width: 17px;
    margin-top: 0px;
    margin-right: -2px;
}

.file-default.x-menu-item-icon,
.file-default.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file.svg);
}
.file-img.x-tree-node-leaf .x-tree-node-icon {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-img.svg);
    width: 14px;
    margin-left: 1px;
    padding-right: 1px;
}
.file-js.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-js.svg);
}
.file-json.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-json.svg);
}
.file-css.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-css.svg);
}
.file-md.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-md.svg);
}
.file-txt.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-txt.svg);
}
.file-html.x-tree-node-leaf .x-tree-node-icon {
    background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-html.svg);
    width: 14px;
    margin-left: 1px;
    padding-right: 1px;
}
.file-start.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-start.svg);
    width: 14px;
    margin-left: 1px;
    padding-right: 1px;
}
.file-rest.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-rest.svg);
    width: 14px;
    margin-left: 1px;
    padding-right: 1px;
}
.file-ejs .x-tree-node-icon {
	background-image: url(/profoundui/proddata/images/FlatIcons/16x16/file-ejs.svg);
}

/************* Editor Styles ****************/

.ace_profoundui_field {
    position: absolute;
    z-index: 3;
    background: none repeat scroll 0 0 #ffe79c;
    border: 1px solid #999999;
    border-radius: 7px;
    font-weight: bold;
}

.ace_bracket {
    display: none;
}

.monaco-link, .ace-link {
  position: absolute;
  border-bottom: 1px solid #4286f4;
}

.ace_search_options {
    white-space: normal;
}

.monaco-editor .monaco-editor-hover, .editor-widget.suggest-widget.visible, .context-view.monaco-menu-container, .monaco-editor .parameter-hints-widget.visible {
    z-index: 25;
}

.monaco-editor textarea.inputarea {
    white-space: pre;
}

.monaco-link {
    cursor: pointer;
}

.monaco-editor * {
    font-size: 14px;
    font-family: Consolas, "Courier New", monospace;
}

.monaco-findInput .input {
    background-image: unset;
}

/************ Widget Sets ******************/

div.widget-sets-widget {
    width: 75px;
    height: 100px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

div.widget-sets-widget:hover {
    background-color: #e7e9ec;
}

div.widget-sets-widget img {
    max-width: 65px;
    max-height: 50px;
}

div.widget-sets-widget div {
    font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
    font-size: 14px;
    color: #31373d;
    text-align: center;
    white-space: normal;
    line-height: 1.25;
    display: block;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.import-export-widget-set-checkbox {
    margin-top: 5px;
}

/*************** Responsive Dialog ******************/

#puirespprevcont {
    width: 100%;
    height: calc(100% - 4px);
    /*4px avoids making an unnecessary scrollbar in preview.*/
    border: none;
    box-sizing: content-box; /* Ensures viewport matches screen size so @media rules are created.*/
}

#puirespprevcont.device {
    border: solid 20px black;
    border-radius: 20px;
}

/* In Edge, the inline style of the proxy HTML doesn't apply for some reason. So set it here. */
.x-dd-drag-proxy .puiresp {
  display:grid; grid-template-rows:auto; grid-template-columns:repeat(4, 1fr); grid-column-gap:3px; grid-row-gap:3px;
}

@-webkit-keyframes pui-loading {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-animation: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -moz-animation: translateX(200px);
        transform: translateX(200px);
    }
    60% {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -moz-animation: translateX(200px);
        transform: translateX(200px);
    }
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-animation: translateX(0);
        transform: translateX(0);
    }
}

@keyframes pui-loading {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-animation: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -moz-animation: translateX(200px);
        transform: translateX(200px);
    }
    60% {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -moz-animation: translateX(200px);
        transform: translateX(200px);
    }
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-animation: translateX(0);
        transform: translateX(0);
    }
}

/*************** Design tab "grid" background ******************/

.pui-design-grid-10 {

  background: url("/profoundui/proddata/images/dspfdesigner/DesignGrid/10x10.png") repeat;
  
}

.pui-design-grid-20 {

  background: url("/profoundui/proddata/images/dspfdesigner/DesignGrid/20x20.png") repeat;
  
}

.pui-design-grid-30 {

  background: url("/profoundui/proddata/images/dspfdesigner/DesignGrid/30x30.png") repeat;
  
}

.pui-design-grid-40 {

  background: url("/profoundui/proddata/images/dspfdesigner/DesignGrid/40x40.png") repeat;
  
}

.pui-design-grid-50 {

  background: url("/profoundui/proddata/images/dspfdesigner/DesignGrid/50x50.png") repeat;
  
}

.dd-arrow-down.dd-arrow-down-invisible {
  display: none;
  visibility: hidden;
}

.dd-arrow-down {
  background-image: url("/profoundui/proddata/images/dspfdesigner/icons16x16/move-down.gif");
  background-repeat: no-repeat;
  display: block;
  visibility: visible;
  z-index: 20000;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

#ideProps code { color: blue; }
#ideProps code.propdefault { color: blue; letter-spacing: 0px; font-weight: bold; }

/* Make the container names and numbers appear in the design canvas behind widgets. */
div.puiresp > div[containername]::after { 
  opacity: 0.05;
  font-size: 2.5em;
  content: attr(containername);
}

.x-grid-empty {
  white-space: normal;
}

/* Hide the unused Sort Ascending / Sort Descending column menu options in the Elements panel and the separator. */
body > div[id^="elementsGrid"].x-menu .x-item-disabled, body > div[id^="elementsGrid"].x-menu .x-menu-sep-li {
  display: none;
}